@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    height: 100vh;
    background-image: url('./images/bg-tablet-pattern.svg'), url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: -30rem 950px, calc(100% - -250px) -13em; 
}

figure {
    overflow: hidden;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.hero-top {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}

.hero-top figure {
    position: absolute;
    width: 180px;
}

.hero-top .list {
    justify-content: space-between;
    gap: 3rem; 
    right: 30%;
    display: flex;
}

.hero-top .list a {
    color: hsl(233, 12%, 13%);
    font-weight: 500;
    cursor: pointer;
}

.hero-top .list a:hover {
    color: hsl(12, 16%, 69%);
    transition: all 0.6s;
}

.hero-top .list a:active {
    color: hsl(12, 16%, 69%);
    text-decoration: underline;
}

.hero-top .get button {
    cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 25px;
    text-align: center;
    right: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -0.5rem;
    background-color: hsl(12, 88%, 59%);
    font-size: 16px;
    color: hsl(13, 100%, 96%);
    box-shadow: 0px 2px 2px 0px hsl(12, 82%, 64%);
    letter-spacing: 0.5px;
}

.hero-top .get button:hover {
    transition: all 0.8s;
    color: hsl(0, 0%, 98%);
    background-color: hsl(12, 71%, 66%);
}

.hero-top .get button:active {
    transition: all 0.3s;
    color: hsl(0, 0%, 98%);
    background-color: hsl(12, 71%, 66%);
    transform: scale(0.9);
}


.hero-content1 {
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem; 
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.illustration figure img {
    object-fit: cover;
}

.hero-content1 .bring {
    margin-top: 5rem;
}

.hero-content1 .bring hgroup h1 {
    font-size: 45px;
    font-weight: 600;
    max-width: 500px;
}

.hero-content1 .bring hgroup p {
    color: hsl(11, 5%, 56%);
    margin-top: 1.5rem;
    max-width: 350px;
}

.hero-content1 .bring button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 25px;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: hsl(12, 88%, 59%);
    font-size: 16px;
    color: hsl(13, 100%, 96%);
    box-shadow: 0px 2px 2px 0px hsl(12, 82%, 64%);
    letter-spacing: 0.5px;
    margin-top: 2rem;
}

.hero-content1 .bring button:hover {
    transition: all 0.8s;
    color: hsl(0, 0%, 98%);
    background-color: hsl(12, 71%, 66%);
}

.hero-content1 .bring button:active {
    transition: all 0.3s;
    color: hsl(0, 0%, 98%);
    background-color: hsl(12, 71%, 66%);
    transform: scale(0.9);
}

.hero-content2 {
    position: relative;
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    justify-content: space-between;
}

.hero-content2 .different hgroup h1 {
    max-width: 390px;
}

.hero-content2 .different hgroup p {
    color: hsl(11, 5%, 56%);
    margin-top: 1.5rem;
    max-width: 350px;
}

.hero-content2 .all-about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
}

.features .headline {
    display: flex;
}

.features .headline h4 {
    color: hsl(0, 0%, 98%);
    background-color: hsl(12, 88%, 59%);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 14px;
    text-align: center;
    height: fit-content;
    left: 8rem;
    position: relative;
}

.features .headline h3 {
    margin-left: 9rem;
}

.features p {
    margin-top: 7px;
    margin-left: 12rem;
    color: hsl(11, 5%, 56%);
}


/* RESPONSIVE SECTION */

@media screen and (max-width: 650px) {

    body {
        background-image: none;
    }
    .hero-top {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .hero-top .list {
        display: none;
    }
    .hero-top .get button {
        display: none;
    }
    .hero-content1 {
     display: flex;
     flex-direction: column;
     flex-flow: column-reverse;
     margin-left: 0.5rem;
     margin-right: 0.5rem; 
     text-align: center;
     align-items: center;
     
    }

    .hero-content1 .bring {
        margin-top: 0;
    }
    .hero-content1 .bring hgroup h1 {
        max-width: none;
        font-weight: 550;
        font-size: 35px;
    }
    .hero-content1 .bring hgroup p {
        text-align: center;
        align-items: center;
        max-width: none;
        margin-right: 35px;
        margin-left: 35px;
    }
    .hero-content2 {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0; 
        margin-top: 12em;
        gap: 3em;
    }

    .hero-content2 .different hgroup h1 {
        max-width: none;
        position: relative;
        text-align: center;
        margin-left: 3rem;
        margin-right: 3rem;
}
    .hero-content2 .different hgroup p {
        max-width: none;
        text-align: center;
        margin-left: 18px;
        margin-right: 18px;
}
     .hero-content2 .all-about {
        max-width: none;
}

    .features .headline {
        position: relative;
        text-align: center;
        align-items: center;
        margin-left: 1rem;
        background-color: hsl(11, 62%, 90%);
        
    }

    .features .headline h4 {
        left: 0;
        border-radius: 18px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .features .headline h3 {
        margin-left: 0;
        padding-left: 1rem;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 15px;
        text-align: center;
}

    .features p {
        margin-left: 0;
}

    .features hgroup p {
        max-width: none;
    }

}  
